<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Reporting
    </ion-title>
  </ion-toolbar>
</ion-header>

<br>
<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>Afficher mes reporting </ion-label>
        <ion-button (click)="onLoadReporting()">OK</ion-button>
        <ion-button routerLink="/">Ajouter reporting</ion-button>
      </ion-item>
    </ion-card-content>

    <ion-card *ngIf="dataReporting">
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let m of dataReporting.data;  let rowIndex=index">
            <ion-list>
                <span class="badge badge-dark">{{rowIndex + 1}}</span>
              <ion-item>Reporting: {{m.tache}} <br>
                Status: {{m.status}} <br>
                Date: {{m.date_fr}}
              </ion-item>
            </ion-list>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>


  </ion-card>
</ion-content>
