<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenue cher Bakeliste</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-img src="{{contact.bakeli}}"></ion-img>

      <ion-list>
          <ion-item>Dev junior : {{contact.nameComplet}}</ion-item>
          <ion-item>Tel: {{contact.tel}} </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>